[Unit]
Description=Monthly Impulse GeoLite2 update

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=2h
Unit=impulse-geoip.service

[Install]
WantedBy=timers.target
