[Unit]
Description=Daily Impulse Open Food Facts synchronization

[Timer]
OnCalendar=*-*-* 04:15:00
Persistent=true
RandomizedDelaySec=20m
Unit=impulse-sync@openfoodfacts.service

[Install]
WantedBy=timers.target
